<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Habit Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link href="./stylesheets/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="preload" as="font" type="font/woff2"
        crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="preload" as="font" type="font/woff2" crossorigin="anonymous"> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script src="https://kit.fontawesome.com/cd6ed57d8c.js" crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">The Habit Tracker</a>
        </div>
    </div>
</nav>

<body>
    {{{ body }}}
</body>

</html>