<div class="container">
    <div>
        <h1>Excellence is a Habit</h1>
    </div>
    <div>
        <p class="line-1 anim-typewriter">
        <h3>Write Goals. Check Them Off. Create Habits.</h3>
        </p>
    </div>
    <div id="loginForm">
        <h2></h2>
    </div>
    <div>
        <form class="login">
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="email" id="email-input" placeholder="Email">
            </div>
            <div class="textbox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Password" id="password-input">
            </div>
            <div class="submitButton">
                <button type="submit" class="btn btn-default">Login</button>
            </div>
        </form>
    </div>

    <div class="logIn">
        <p>Or sign up <a href="./signup.html">here</a></p>
    </div>

</div>


{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<script src="https://kit.fontawesome.com/cd6ed57d8c.js" crossorigin="anonymous"></script> --}}